.black_card_scol_block{
    width: var(--width_big);
    padding: 70px 60px;
    box-sizing: border-box;
    background-color: rgb(25, 26, 35);
    border-radius: 45px;
    display: grid;
    grid-template-columns: 286px 2px 286px 2px 286px;
    column-gap: 64px;
    row-gap: 20px;
    margin: 82px;
}

.black_card_scol_block_text{
    display: grid;
    gap: 20px;
}

.black_card_scol_block span{
    height: 180px;
    background-color: rgb(255, 255, 255);
}

.black_card_scol_block p{
    color: white;
}

.learn_more_scol{
    display: flex;
    align-items: center;
    gap: 15px;
}

.scroll-container{
    display: none;
}

@media(max-width:430px){
    .black_card_scol_block_container_pc{
        display: none;
    }

    .case_studies2_big_container_mb{
        display: block;

    }

    .black_card_scol_block_text_mb{
        background-color: rgb(25, 26, 35);
        color: white;
        border-radius: 45px;
        width: 350px;
        height: 250px;
        padding: 42px 50px;
        box-sizing: border-box;
    }

    .black_card_scol_block_text_mb p{
        font-size: 16px;
        white-space: normal; /* Позволяет тексту переноситься на следующую строку */
        display: grid;
        place-items: center;
    }

    .black_card_scol_block_text_mb a{
        display: flex;
        color: rgb(185, 255, 102);
    }
    
    .scroll-container{
        display: flex;
        overflow-x: scroll; /* Горизонтальная прокрутка */
        scroll-behavior: smooth; /* Плавная прокрутка */
        white-space: nowrap;
        width: 430px;
    }

    .scroll-item {
        display: inline-block; /* Оставляем элементы на одной линии */
        min-width: 300px; /* Достаточная ширина, чтобы карточки были видны */
        margin-right: 20px; /* Разделение между карточками */
        box-sizing: border-box; /* Промежуток между элементами */
    }
}
