.icons_brends{
    width: var(--width_big);
    display: grid;
    grid-template-columns: repeat(6, 150px);
    gap: 70px;
    place-items: center;
    margin-top: 70px;
}

@media(max-width:430px){
    .icons_brends{
        width: 410px;
        grid-template-columns: repeat(3, 130px); /* кол-во столбцов */
        grid-template-rows: repeat(2, 40px); /* кол-во строк */
        gap: 20px;
    }

}