.top_baner_container{
    display: grid;
    place-items: center;
    gap: 70px;
}

.top_baner{
    box-sizing: border-box;
    /* padding: 0 50px; */
    display: grid;
    grid-template-columns: 530px  600px;
    gap: 110px;
    width: var(--width_big);
}

.text_baner{
    display: grid;
    gap: 35px ;
}

.text_baner_button{
    background-color: black;
    padding: 20px 35px;
    border-radius: 14px;
    color: white;
    font-size: 20px;
    border: 1px solid black;
    cursor: pointer;
}

.text_baner_button:hover{
    background-color: white;
    color: black;
    transition: 0.300s;
}

.img_baner_mobile{
    display: none;
}

@media(max-width:430px){
    .top_baner{
        box-sizing: border-box;
        padding: 0 10px;
        width: 430px;
    }

    .text_baner h1{
        width: 410px;
        font-size: 35px;
    }

    .text_baner p{
        font-size: 16px;
        width: 410px;
    }

    .img_baner_mobile{
        display: block;
        width: 410px;
    }

    .img_baner_mobile img{
        display: block;
        width: 410px;
    }

    .img_baner{
        display: none;
    }

    .text_baner{
        width: 410px;
    }

    .text_baner_button{
        width: 390px;
    }

}